#logoIcon{
    width: 250px;
}

.body{
    background-color: rgb(175, 177, 179);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.card{
    width: 22%;
    margin: 1em;
    text-align: center;
}

.footer{
    background: beige;
    font-size: 13px;
    text-align: center;
    margin: 2%;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: baseline;
}